name: Build and Deploy Service

on:
  push:
    branches:
      - main

jobs:
  build:
    environment: secrets
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.head_commit.message, '--build service') }}
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image from code
        run: |
          docker build -f LinkShortenerService/Dockerfile -t link-shortner-service:latest LinkShortenerService/

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image to DockerHub
        run: |
          docker tag link-shortner-service:latest kenuey/link-shortner-service:latest
          docker push kenuey/link-shortner-service:latest
  
  deploy:
    runs-on: ubuntu-latest
    environment: secrets
    needs: build
  
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v2
        
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Deploy to server with debug
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Attempting SSH connection"
            echo ${{ secrets.DOCKER_PASSWORD }} | sudo docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
            docker pull kenuey/link-shortner-service:latest
            docker stop link-shortener-service || true
            docker rm link-shortener-service || true
            docker run -d --name link-shortener-service -p 12122:12122 kenuey/link-shortner-service:latest
          debug: true

  
