name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: secrets

    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image from code
        run: |
          # Переходим в папку с проектом и строим образ
          pwd 
          ls 
          docker build -f LinkShortenerSite/Dockerfile -t link-shortner-site:latest LinkShortenerSite/

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image to DockerHub
        run: |
          docker tag link-shortner-site:latest kenuey/link-shortner-site:latest
          docker push kenuey/link-shortner-site:latest
  
  deploy:
    runs-on: ubuntu-latest
    environment: secrets
    needs: build
  
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v2
        
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Deploy to server with debug
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Attempting SSH connection"
            echo ${{ secrets.DOCKER_PASSWORD }} | sudo docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
            docker pull kenuey/link-shortner-site:latest
            docker stop link-shortener || true
            docker rm link-shortener || true
            docker run -d --name link-shortener -p 80:80 kenuey/link-shortner-site:latest
          debug: true

  
