name: Build, Push Docker Image, and Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: secrets  # используйте ваше окружение (если нужно)

    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t link-shortner-site:latest .

      - name: Tag Docker image
        run: |
          docker tag link-shortner-site:latest kenueyy/link-shortner-site:latest

      - name: Log in to DockerHub (если вы используете Docker Hub)
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image to DockerHub
        run: |
          docker push kenueyy/link-shortner-site:latest

      - name: SSH to server and deploy the Docker container
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Обновление контейнера на сервере
            docker pull kenueyy/link-shortner-site:latest
            docker stop your-app-container || true
            docker rm your-app-container || true
            docker run -d --name your-app-container -p 80:80 kenueyy/link-shortner-site:latest
